<div class="container">
  <h1>{{ pageTitle }}</h1>

  <div class="card" *ngFor="let document of documents">
    <img src="{{ document.image_url }}" alt="Card Image" width="100%" />

    <div class="card-body">
      <h5 class="card-title">{{ document.title }}</h5>

      <p class="card-text">{{ document.description }}</p>

      <div>
        <a class="btn btn-lg btn-primary" href="{{ document.file_url }}"
          >Download File</a
        >
      </div>
      <p class="card-text">
        <small class="text-muted">{{ document.updated_at }}</small>
      </p>
    </div>
  </div>
</div>
