<div class="container">
  <h1 class="headline">{{ pageTitle }}</h1>

  <div class="card mb-5" *ngFor="let document of documents">
    <img src="{{ document.image_url }}" alt="Card Image" width="100%" />

    <div class="card-body">
      <h5 class="card-title">{{ document.title }}</h5>

      <p class="card-text">{{ document.description }}</p>

      <div class="d-flex align-items-center justify-content-between">
        <a class="btn btn-lg btn-primary" href="{{ document.file_url }}"
          >Download File</a
        >
        <p class="card-text text-end align-self-end">    
          <small class="text-muted"> Last Updated: {{ document.updated_at | date }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
